@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

$background: #000000;
$darkpink: #f3415f;
$pink: #f33b7b;
$white: #ffffff;
$font: 'Belanosima', sans-serif;
$font-size: 18px;
$border-radius: 0.7rem;
$border-color: linear-gradient(172deg, rgba(110, 60, 203, 0), rgba(110, 60, 203, 0.505), rgba(255, 0, 128), rgba(255, 249, 34));
$rainbow: linear-gradient(90deg, $background, $background),
    linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);

$small-screen: 850px;
$medium-screen: 1024px;
$large-screen: 1900px;